.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: beige;
}

header {
  color: white;
  padding: 8px;
  background-color: black;
  font-size: 40px;
  font-weight: 600;
  display: flex;
}

.boxContainer {
  margin-top: 16px;
  background-color: lightcyan;
  padding: 18px;
  width: 100%;
  border: 1px solid tan;
  border-radius: 7px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.error {
  padding: 15px;
  background-color: indianred;
  margin-top: 20px !important;
  border-radius: 5px;
}
